# ==========================================
# Java & Maven
# ==========================================
target/
*.class
*.jar
*.war
*.ear
*.log
*.tmp

# ==========================================
# Spring Boot
# ==========================================
application-local.yml
application-local.properties
.env

# ==========================================
# IDE
# ==========================================
.idea/
*.iml
.vscode/
*.suo
*.user

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Docker
# ==========================================
nginx/ssl/*.crt
nginx/ssl/*.key
nginx/ssl/*.pfx
nginx/ssl/*.pfx.password

# ==========================================
# Integration Tests
# ==========================================
tests/.env.ci